/**
 * WPBean Admin CSS
 */

.wpb_wrps_settings_area {
    position: relative;
}
.wpb_wrps_settings_content {
    background: #fff;
    padding: 2em;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(196 205 224 / 20%);
    border-radius: 13px;
}
.wpb_wrps_settings_content h3 {
    font-size: 2rem;
}
.wpb_wrps_settings_content ul {
    margin-bottom: 3em;
}
.wpb_wrps_settings_content ul li {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 12px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}
.wpb_wrps_settings_content ul li:before {
    content: "\f147";
    font-family: dashicons;
    font-size: 24px;
    color: #EB5E4C;
    position: relative;
    top: 7px;
    margin-right: 5px;
    -webkit-font-smoothing: antialiased;
}
.wpb_get_pro_btn,.wpb_get_pro_btn:hover,.wpb_get_pro_btn:focus,.wpb_get_pro_btn:active {
    outline: 0;
    box-shadow: none;
    color: #fff;
}
.wpb_get_pro_btn {
    display: inline-block;
    padding: 18px 30px;
    background: #5034fc;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    transition: all .2s linear;
    border-radius: 10px;
    font-weight: 500;
}
.wpb_get_pro_btn:hover {
    background: #061e5c;
}
@media screen and (max-width: 768px) {
    .wpb_wrps_settings_content {
        position: inherit;
        width: 100%;
    }
}